
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* nav-style */
.display-flex{display: flex;}
.nav-container{display: flex;
justify-content: space-between;
width: 1440px;
height: 102px;
align-items: center;
padding: 20px;
margin: 10px;}
.nav-links{display: flex;
list-style: none;
gap: 32px;
}
.nav-link{text-decoration: none;}
.btn-c{width: 197px;
height: 50px;
padding: 10px;
margin: 10px;
border-radius: 12px;
background-color: orange;
border: none;}
.color1{color:orange;}
.color2{color:skyblue;}
.color3{color:#05D4DF;}
.color4{color:#5D58EF;}
/* student-age style */
.student-age{display: flex;

gap: 50px;
/* width: 1158.61px; */
/* height: 575px; */

}
.age-container{width: 640px;
height: 306px;
margin:24px;

}
.age-btn{width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: black;
    color: white;
    border: none;
}
.boys{width:468px;
height: 575px;}

/* card style */
.section-title{text-align: center;
margin-top: 60px;}
.card-1{border: 1px solid rgb(235, 235, 241);
  width: 367.8px;
  height: 476.78px;
 border-radius: 18px;
 text-align: center;
 }
 .curri-container{
  width: 1160px;
  height: 481.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 80px;
}
.s{background-image: url(assets/bg.png);}
.a{text-decoration: none;color: #05D4DF;}
.b{text-decoration: none;color:orange;}
.c{text-decoration: none;color:#8700FF;}
@media only screen and (max-width:576px) {
  .student-age{
     flex-direction: column-reverse;
  }
  .curri-container{display: grid;
  grid-template-columns: 1fr;}
  
}
